version: "3.9"

services:
  node:
    build:
      context: .
      dockerfile: docker/node/Dockerfile
    volumes:
    # ホストでの変更がコンテナに即時反映
      - ./node:/app
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    env_file:
      - .env

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./docker/postgres/postgres.conf:/etc/postgresql/postgresql.conf

      # コンテナが削除されても永続的にデータ保存(ホストにバインドマウント)
      # - ./docker/postgres/data:/var/lib/postgresql/data
    command: postgres -c config_file=/etc/postgresql/postgresql.conf
    ports:
      - "5432:5432"

# docker-compose down -vでDBデータを削除
volumes:
  postgres_data: