.container {
    width: 90%;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    font-size: 48px;
}

.form {
    width: 80%;
    margin: 40px auto;
}

.area {
    margin-top: 40px;
    text-align: center;
}

.input {
    width: 60%;
}

.link {
    margin-top: 20px;
}

.link>a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.link>a:hover {
    color: #d87e00;
}

.button {
    width: 10%;
}